.Profileinfo {
    display: flex;
    padding: 15px;
    margin: 15px;
    border: 1px solid lightgray;
}
.profileimg{
    width: 95px;
    height: 106px;
}
.info {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}
p.profile {
    font-weight: 400;
}
input[type="checkbox"] {
    position: relative;
    top: 50px;
    margin: 0px 10px;
}